#Taller 2
##Integrantes:

###-Diego Alejandro Avila
###- Andrea Isabel Coral
###- Valentina Gonzalez Gomez

Punto 1

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import minimize
from scipy.optimize import linprog
import cvxpy as cp

In [2]:
df = pd.DataFrame({' ' : ['MP', 'MO', 'Capital'],
        'Product 1' : [1, 2, 1],
        'Product 2' : [1, 4, 2],
        'Uso' : [350, 1000, 500], 
        'Disponible' : [500, 1000, 2000]})
df

            Product 1  Product 2   Uso  Disponible
0       MP          1          1   350         500
1       MO          2          4  1000        1000
2  Capital          1          2   500        2000

In [42]:
# Parametros de la función objetivo
c = np.array([3, 5])

# Restricciones de desigualdad
a = np.array([[1, 1],[2, 4],[1,2]])
b = np.array([500,1000,2000])

bound=np.array([(100, None),(150,None)])

sol = linprog(-c, A_ub=a, b_ub=b,bounds=bound,method="simplex") 

print("Asignanción optima de A", round(sol.x[0]))
print("Asignanción optima de B", round(sol.x[1]))
print("Ganancia maxima: $", round(-sol.fun))

Asignanción optima de A 200
Asignanción optima de B 150
Ganancia maxima: $ 1350

<ipython-input-42-be7037021d4c>:10: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  sol = linprog(-c, A_ub=a, b_ub=b,bounds=bound,method="simplex")

Punto 2

In [38]:
# Coeficientes de la función objetivo
c2 = np.array([0.10, 0.15, 0.16, 0.08])

A_ub2 = np.array([[0.5, 0.3, 0.25, 0.6],
     [0.3, 0.1, 0.4, 0.2],
     [0.2, 0.6, 0.35, 0.2]])

A_eq2 = np.array([[1, 1, 1, 1]])

b_ub2 = np.array([0.35, 0.3, 0.15])

b_eq2 = np.array([1])

res2 = linprog(-c2, A_ub=-A_ub2, b_ub=-b_ub2, A_eq=A_eq2, b_eq=b_eq2,
              
              method='revised simplex')  #Positivo menor o igual
-res2.fun

<ipython-input-38-d1ae06aa2848>:14: DeprecationWarning: `method='revised simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  res2 = linprog(-c2, A_ub=-A_ub2, b_ub=-b_ub2, A_eq=A_eq2, b_eq=b_eq2,

0.13736842105263158

In [39]:
pd.DataFrame(res2.x).round(4).T*100

     0      1      2      3
0  0.0  15.79  57.89  26.32

In [41]:
n = 4
x = cp.Variable(n)
objective = cp.Minimize(-c2.T @ x)
constraints = [cp.sum(x)==1, x>=0,A_ub2@x>=b_ub2]
prob = cp.Problem(objective, constraints)
result = prob.solve()
scion2=pd.DataFrame(x.value)

pd.DataFrame(scion2).round(4).T*100

     0      1      2      3
0  0.0  15.79  57.89  26.32

In [35]:
print("La ganancia máxima es",-prob.value)

La fanancia maxima es 92.49694912403417

Punto 3

In [33]:
c3 = np.array([0,0,0,0,0,0,0,0,0,0,0,0,0,1])

A3_eq = np.array([[1,0,0,0,0,1,0,0,-1,0,0,0,0,0],
               [-1.01,1,0,0,0,0,1,0,1.003,-1,0,0,0,0],
                [0,-1.01,1,0,0,0,0,1,0,1.003,-1,0,0,0],
               [0,0,-1.01,1,0,-1.02,0,0,0,0,1.003,-1,0,0],
               [0,0,0,-1.01,1,0,-1.02,0,0,0,0,1.003,-1,0],
               [0,0,0,0,-1.01,0,0,-1.02,0,0,0,0,1.003,-1]])

b3_eq = np.array([150, 100, -200, 200, -50, -300 ])

A3_ub = np.array([[1,1,1,1,1,1,1,1,1,1,1,1,1,1]])

b3_ub = np.array([100])

res3 = linprog(-c3, A_ub=-A3_ub, b_ub=-b3_ub, A_eq=A3_eq, b_eq=b3_eq,
              
              method='revised simplex') 
pd.DataFrame(res3.x).round(2).T

<ipython-input-33-2c726399bf5f>:16: DeprecationWarning: `method='revised simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  res3 = linprog(-c3, A_ub=-A3_ub, b_ub=-b3_ub, A_eq=A3_eq, b_eq=b3_eq,

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.0,0.0,0.0,52.0,150.0,100.0,151.94,0.0,0.0,351.94,0.0,0.0,92.5

In [34]:
n = 14
x = cp.Variable(n)
objective = cp.Minimize(-c3.T @ x)
constraints = [ x>=0,A3_eq@x>=b3_eq]
prob = cp.Problem(objective, constraints)
result = prob.solve()
x3_sol = pd.DataFrame(x.value)

pd.DataFrame(x3_sol).round(2).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,41.0,0.0,0.0,10.18,150.0,59.0,193.35,0.0,0.0,351.94,0.0,0.0,92.5

In [29]:
print("la ganancia maxima es", -prob.value)

la ganancia maxima es 92.49694912403417

Punto 4

In [22]:
R = 1.0001**7
Rf = R

c4 = np.array([0,0,0,0,0,0,0,1]) #Al final se va a tener el saldo más alto posible que involucra todos los saldos posibles

A4= np.array([[1,0,0,0,-1,0,0,0],
             [0,1,0,0,Rf,-1,0,0],
             [0,0,1,0,0,Rf,-1,0],
             [0,0,0,1,0,0,Rf,-1]])

B4= np.array([[150, -100, -50, 200]])

res4 = linprog(-c4, A_ub=A4, b_ub=-B4, method='simplex')

#pd.DataFrame(res.x).round(4).T

<ipython-input-22-33c980328564>:13: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  res4 = linprog(-c4, A_ub=A4, b_ub=-B4, method='simplex')

In [23]:
pd.DataFrame(res4.x).round(4).T

     0    1    2    3      4       5       6         7
0  0.0  0.0  0.0  0.0  150.0  50.105  0.1401  200.1402

In [24]:
print("La ganancia total máxima es $",-res4.fun)

La ganancia total máxima es $ 200.14021366142958

Punto 5

In [20]:
c5 = np.array([0,0,0,5,8,10])

A_ub5 = np.array([[0,0,0,1,0,0],
                  [0,1,0,0,0,0],
                  [0,0,1,0,0,0],
                  [0,0,0,0,1,0],
                  [0,0,0,0,0,1]])

b_ub5= np.array([2000,300,250,2000,2000])

A_eq5 = np.array([[1,1,1,0,0,0],
                  [0,0,0,1,1,1]])
b_eq5 = np.array([1000,10000])

res5 = linprog(-c5, A_ub = -A_ub5, b_ub = -b_ub5, A_eq = A_eq5, b_eq=b_eq5, method='simplex')

<ipython-input-20-232f17d0c08d>:15: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  res5 = linprog(-c5, A_ub = -A_ub5, b_ub = -b_ub5, A_eq = A_eq5, b_eq=b_eq5, method='simplex')

In [18]:
pd.DataFrame(res5.x).round(4).T

       0      1      2       3       4       5
0  450.0  300.0  250.0  2000.0  2000.0  6000.0

In [19]:
print("La ganancia total máxima es $",-res5.fun)

La ganancia total máxima es $ 86000.0

Punto 6

In [15]:
C_6 = np.array([ [4, 6, 9], [5, 4, 7], [6, 3, 4], [8, 5, 3],[10, 8, 4]]) 
D_6 = np.array([80, 270, 250, 160, 180]) 
F_6 = np.array ( [1000, 1000, 1000]) 
M_6 = np.array([500, 500, 500]) 

X_6 = cp.Variable((5,3), nonneg=True)
Y_6 = cp.Variable(3, boolean=True)

objective_6 = cp.Minimize(cp.sum(cp.multiply(F_6, Y_6)) + cp.sum(cp.multiply(C_6, X_6)))

constraints_6 = []
for i in range(5) :
  constraints.append(cp.sum(X[i, :]) >= D6[i])

for j in range(3) :
  constraints.append(cp.sum(X[:, j]) <= M6[j] * Y[j])

prob_6 = cp.Problem(objective_6, constraints_6)
result_6 = prob6.solve()

x6_sol = pd.DataFrame(x.value)

print("la ganancia maxima es $", prob.value)

la ganancia maxima es $ 5610.0